<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="customerServiceFactory" class="com.hhm.spring_03_instanceBeanByInstanceFactory.CustomerServiceFactory" />
	<!--将真实工厂类注入 -->
	<bean id="customer" factory-bean="customerServiceFactory"
		factory-method="createCustomerService" />

</beans>