<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <!-- 方式一 -->
   <!--  
   <bean id="order" 
   class="com.hhm.spring_test02_beanInitAndLifeCycle.OrderServiceImpl" scope="prototype"></bean>
   -->
   
   <bean id="order" 
   class="com.hhm.spring_test02_beanInitAndLifeCycle.OrderServiceImpl" scope="singleton"
   init-method="init" destroy-method="destroy"></bean>
 
  
   <!-- 方式二 -->
  	<!--  
   <bean id="orderService" class="com.hhm.spring_test02_beanInitAndLifeCycle.OrderServiceImpl" />
	将真实工厂类注入
	<bean id="order" factory-bean="orderService"
		factory-method="createOrderService" />
	-->
	
	<!-- 方式三 -->
	<!--  
	<bean id="order" class="com.hhm.spring_test02_beanInitAndLifeCycle.OrderServiceImpl"
  	factory-method="createOrderService"
     ></bean>
    -->
</beans>